body {
    background-color: #E9E2D7;
}

header {
    background-color: #f4f2e9;
    box-shadow: 0 1px 8px 1px #DCDAD3;
    text-align: center;
    margin-bottom: 100px;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 48px;
    font-style: italic;
}

.login-signup-box {
    margin: 10px;
}

.link {
    margin: 5px;
    font-size: 20px;
}

.link:hover {
    background-color: #DCDAD3;
    border: 1px solid #000;
}

.carousel-body {
    margin: 40px;
    text-align: center;
    background-color: #DFCAAE;
    border-radius: 6px;
}

.carousel-body h3 {
    background-color: #D2B48C;
    font-size: 30px;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 3px 2px #BDA27E;
    padding: 10px;
}

.carousel-body .carousel-main {
    height: 200px;
    margin: 60px;
}

.carousel-body .carousel-main .carousel-book {
    height: 120px;
    margin: 0 30px;
    width: 100px;
    display: none;
    vertical-align: middle;
}

.carousel-body .carousel-main .carousel-book.current {
    display: inline-block;
}

.carousel-body .carousel-main .carousel-book img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border-radius: 5px 5px 0 0;
}

.carousel-body .carousel-main .carousel-book p {
    height: 20px;
    width: 100px;
}

#features {
    margin: 0 40px 20px 40px;
    text-align: center;
    background-color: #DBC3A3;
    box-shadow: 0 1px 1px 1px #BDA27E;
    padding: 0;
    border-radius: 6px;
}

#features h3 {
    font-size: 30px;
    border-radius: 6px 6px 0 0;
    background-color: #C5AF92;
    margin: 0;
    box-shadow: 0 1px 3px 2px #CAB79C;
    padding: 10px;
}

#features .row {
    margin: 20px 0;
}

.feature {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature i {
    font-size: 40px;
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid #000;
}
