body {
    text-align: center;
    background-color: #aa4139;
    color: white;
}

h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
}

.login-signup-box {
    margin: 30px 20px;
    padding: 40px;
    height: 300px;
}

.login-signup-links {
    width: 600px;
    height: 300px;
    margin: 15px auto;
    padding: 50px 0;
}

.link {
    background-color: #ffdfaa;
    border: none;
    border-radius: 5px;
    color: #256f5c;
    font-size: 40px;
    margin: 0 5px 0 5px;
    width: 168px;
}

.link:hover {
    background-color: #256f5c;
    color: #ffdfaa;
}

#features {
    height: 400px;
    
}



.feature {
    border: none;
    background-color: #aa6f39;
    min-height: 200px;
    padding: 30px;
    font-size: 17px;
    
}

.feature i {
    margin: 5px auto 25px auto;
    font-size: 40px;
}

footer {
    width: 200px;
    margin: 100px auto 0 auto;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    border-top: 1px solid #000;
    color: #000;
}