body {
    text-align: center;
    background-color: #E9E2D7;
}

#login, #signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #EFEFEF;
    padding: 5px;
    border: 5px solid #EFEFEF;
    border-radius: 5px;
    //-webkit-box-shadow: 0 0 1px 1px #BDA27E;
    //-moz-box-shadow: 0 0 1px 1px #BDA27E;
    //box-shadow: 0 0 10px 1px #000;
}

.login-signup-page {
    margin: 0 auto;
    position: relative;
}

h3 {
    font-size: 40px;
}

form {
    width: 360px;
    margin: 0 auto 10px auto;
    text-align: center;
}

.form-label {
    font-size: 20px;
    position: relative;
    margin: 6px 3px 6px 3px;
    float: left;
    color: #000;
}

.form-input {
    font-size: 20px;
    margin: 3px 0 3px 3px;
    border: 1px solid #DADADA;
    border-radius: 5px;
    line-height: 36px;
}

.form-submit {
    background-color: white;
    border: 1px solid #DADADA;
    color: black;
    border-radius: 5px;
    min-width: 128px;
    padding: auto;
    line-height: 28px;
    font-size: 18px;
    margin-top: 10px;
}

.form-submit:hover {
    border: 1px solid #000;
    cursor: pointer;
}

.switch {
    font-size: 20px;
    color: #000;
}

.switch a {
    color: #000;
    text-decoration: none;
}

.switch a:hover {
    text-decoration: underline;
    color: #003399;
}