body {
    text-align: center;
    background-color: lightgray;
}

.container {
    margin: 100px auto 0 auto;
}

.login-signup-page {
    margin: 0 auto;
    position: relative;
}

.form-label {
    font-size: 14px;
    position: relative;
    left: 0;
}

.form-input {
    font-size: 14px;
    margin: 0 2px;
}

/* line up inputs to be equal to username
   because label lengths are different*/
.form-input#password {
    margin: 0 2px 0 4px;
}

.form-input#email {
    margin: 0 2px 0 22px;
}

.form-input#password_con {
    margin: 0 2px 0 8px;
}

/* this is without bootstrap
   if using it then adjust accordingly*/
.form-submit {
    background-color: white;
    border: 1px solid white;
    color: black;
    border-radius: 5px;
    width: 60px;
    padding: auto;
    margin: 5px auto 5px 51px;
}

.form-submit:hover {
    background-color: lightgray;
    cursor: pointer;
}

.switch {
    font-size: 12px;
}

.switch a {
    color: navy;
}

.switch a:hover {
    text-decoration: underline;
    color: dodgerblue;
}