body {
    text-align: center;
    background-color: #aa4139;
}

.container {
    margin: 100px auto 0 auto;
}

.login-signup-page {
    margin: 0 auto;
    position: relative;
}

h3 {
    font-size: 40px;
}

form {
    width: 360px;
    margin: 0 auto 10px auto;
}

.form-label {
    font-size: 20px;
    position: relative;
    margin: 6px 3px 6px 3px;
    float: left;
    color: #fff;
}

.form-input {
    font-size: 20px;
    margin: 3px 0 3px 3px;
    float: right;
}


/* this is without bootstrap
   if using it then adjust accordingly*/
.form-submit {
    background-color: white;
    border: 1px solid white;
    color: black;
    border-radius: 5px;
    width: 60px;
    padding: auto;
    margin: 5px auto 5px 51px;
}

.form-submit:hover {
    background-color: lightgray;
    border-color: lightgray;
    cursor: pointer;
}

.switch {
    font-size: 20px;
    color: #fff;
}

.switch a {
    color: #A5CCCC;
}

.switch a:hover {
    text-decoration: underline;
    color: dodgerblue;
}