body {
    background-color: #E9E2D7;
}

#book-collection {
    margin-top: 100px;
}

#name-profile {
    width: 90%;
}

#settings {
    float: right;
}

#admin-search-all {
    margin: 0 10px;
}

.book-collection, .book-collection-render, .book-collection-results {
    margin: 20px 10px 10px 10px;
    padding: 10px 30px;
    border: 1px inset black;
    background-color: #6C9082;
}

.book-collection-results {
    display: none;
}

.book {
    display: inline-block;
    height: 220px;
    width: 150px;
    margin: 0 5px;
    padding: 3px;
    position: relative;
    background-color: #e4d2ba;
}

.book-img {
    height: 120px;
    width: 144px;
    background-color: lightblue;
}

.book-title {
    height: 38px;
    font-size: 14px;
    text-align: center;
    padding: 5px 0 0 0;
    margin: 0;
}

.book-button {
    width: 144px;
    text-align: center;
    background-color: #0E9C23;
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
}

.book-button:hover {
    background-color: #FFF;
    color: #0E9C23;
}

.trade-req-circle {
    background-color: #F58105;
    color: white;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    right: -9px;
}

.book-collection-search {
    height: 222px;
    border: 1px solid black;
    padding: 10px 30px;
    margin: 20px 10px 10px 10px;
    background-color: #69969C;
    display: none;
}

.book-collection-search #admin-search-input {
    margin-bottom: 8px;
}

.book-collection-search .btn {
    margin-top: 8px;
}

#admin-search-input {
    width: 258px;
}

.form-input-radio {
    margin: 0 5px !important;
}

/* add/edit modals */

.modal-dialog {
    background-color: #e4d2ba;
}

.modal-body {
    width: 600px;
}

.form-div {
    display: block;
    margin: 3px;
    position: relative;
    height: 25px;
}

.form-div .form-input {
    position: absolute;
    left: 150px;
}

.form-div .form-label {
    position: absolute;
    left: 0;
    padding-top: 2px;
}

.genre {
    position: absolute;
    top: 15px;
    left: 330px;
}

.genre .form-label {
    left: 18px;
}

.genre .form-input {
    left: 80px;
}

.genre .genre-button {
    position: absolute;
    top: 30px;
    left: 10px;
}

.genre .admin-edit-genre {
    position: absolute;
    top: 70px;
    left: 10px;
}

.genre .admin-edit-genre .btn {
    display: inline-block;
    margin-top: 2px;
}

.genre .admin-add-genre {
    position: absolute;
    top: 70px;
    left: 10px;
}

.genre .admin-add-genre .btn {
    display: inline-block;
    margin-top: 2px;
}



