body {
    background-color: #FFD3AA;    
}

#change-password {
    margin-top: 100px;
}

.panel {
    border-radius: 15px !important;
}

.panel-title {
    font-size: 19px;
}

.form-label {
    font-size: 16px;
}

.form-input {
    margin: 4px 0;
    width: 300px;
    font-size: 14px;
}

.form-input-error {
    border: 2px inset #ff9999;
}

.form-input-checkbox {
    width: auto;
    margin: 0 4px !important;
}

.panel .btn-default {
    border: none;
    background-color: #801e16;
    color: #fff !important;
}

.panel .btn-default:hover {
    background-color: #d4726a !important;
}