head
   title Welcome to Book Club
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")

body
   h1 Book Club
   div.container
      div.login-signup-box
         a.btn.btn-default(href="/login.html") Log In
         a.btn.btn-default(href="/signup.html") Signup
      div.features
         div.row
            div.col-md-6
               p.feature Use Book Club to display your collection online!
               p.feature Look at your friends collections!
            div.col-md-6
               p.feature Send trade requests for other user's books!
               p.feature Book collection updated regularly!
